.navbar {
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  justify-content: space-between;
  background-color: beige;
}

.nav-logo{
  font-size: 50px;
  color: black;
  font-weight: bold;
}

.nav-link {
  font-weight: bold;
}