.navbar {
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  justify-content: space-between;
  background-color: beige;
  /* align-items: flex-end; */
}

.nav-logo{
  font-size: 35px;
  color: black;
  font-weight: bold;
}

.nav-link {
  font-weight: bold;
}