.lesson-card {
  display: inline-block;
  border: 2px solid black;
  border-radius: 3px;
  margin: 15px 5px 5px 5px;
  padding: 5px 10px;
  background-color: whitesmoke;
  width: auto;
  height: auto;
 
}