.lesson-card {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  border-radius: 5px;
  margin: 3px 3px;
  padding: 10px;
  height: auto;
  background: rgba(0,0,0, .8);
  line-height: 15px;
}

/* .lesson-title{
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  line-height: 10px;
  padding: 3px;
} */

a {
  color: gold;
}

a:hover {
  color: white;
}

